/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

body {
    background: url("http://oi66.tinypic.com/295uy3o.jpg") repeat fixed center center / cover  rgba(0, 0, 0, 0);

}
p {
    color: darkgray;
    font-family: lucida console;
    margin: 10px
}

#bio {
background: rgba(18, 35, 17, 0.8);
    width:500px;
    float:right;
    border-radius: 5px 0px 0px 5px;
    margin-bottom: 20px;
    
}

#examples {
background: rgba(18, 35, 17, 0.8);
    width:250px;
    float:left;
    border-radius: 0px 5px 5px 0px;
    margin-bottom: 20px;
}

h1#main-heading {
    color: #122311;
    font-family: 'lobster';
    text-align: center; 
    font-weight: bolder;
    font-size: 24pt;
    padding: 5px;
    background: darkgray;
    border: 10px ridge #122311;
    margin-bottom: 20px;
}

a {
	color: darkgray;
}

ul {
    color:darkgray;
    font-family: lucidia console;
    padding-left: 20px;
  
}

h2 {
    color:darkgray;
    text-align: center;
    font-family: 'dancing script';
	font-size: 18pt;
}


#the-list {
    padding-left: 40px;
    padding:10px;
    margin-left: 100px;
}